{% extends "base.html" %}
{% load static %}

{% block title %}Login Page{% endblock title %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/signin_page.css' %}">
{% endblock styles %}

{% block content %}
    <div class="signin-container">
        {% include "accounts/includes/signin_page_components/signin_page_header.html" %}
        {% include "accounts/includes/signin_page_components/signin_page_form.html" %}
    </div>

    <script type="module" src="{% static 'js/sigin_logic.js' %}"></script>
{% endblock content%}
