{% extends "base.html" %}
{% load static %}

{% block title %}SignUp{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/signup_page.css' %}">
{% endblock styles %}

{% block content %}
    <div class="signup-container">
        {% include "accounts/includes/signup_page_components/signup_page_header.html" %}
        {% include "accounts/includes/signup_page_components/signup_page_form.html" %}
    </div>
    
    <script type="module" src="{% static 'js/signup_logic.js' %}"></script>
{% endblock content%}
