{% extends "base.html" %}
{% load static %}

{% block title %}
dashboard 
{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/dashboard_page.css' %}">
{% endblock styles %}

{% block content %}

  <!-- Top Navigation-Bar -->
  {% include "core/includes/dashboard_page_components/dashboard_page_top_navigation_bar.html" %}

  <div class="content-container">

    <!-- side Nivigation-Bar -->
    {% include "core/includes/dashboard_page_components/dashboard_page_sidebar.html" %}

    <!-- Main Content ( right side container)-->
    {% include "core/includes/dashboard_page_components/dashboard_page_main_content.html" %}
    
  </div>

  <script type="module" src="{% static "js/dashboard_page.js" %}"></script>
  
{% endblock content %}



